<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties">
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/> <!-- 启用默认值特性 -->
    </properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property value="${jdbc.driver}" name="driver"/>
                <property name="url" value="${jdbc.url}"/>
                <!--?:OGNL表达式-->
                <property name="username" value="${jdbc.username?:root}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--通过xml配置文件配置生成映射-->
        <!--<mapper resource="mybatis/mapper/EmployeeMapper.xml"/>-->

        <!--通过注册接口生成映射，要求xml映射文件与EmployeeMapper要在同一个文件目录下-->
        <mapper class="com.atguigu.dao.EmployeeMapper"/>

        <mapper class="com.atguigu.dao.EmployeeMapperAnnotation"/>
    </mappers>
</configuration>